*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
}

.main-count{
    width: 80%;
    height: 100%;
    padding: 20px;
    background-color: rgb(95, 99, 98);
   
}

.top-sec{
    height: 50%;
    width: 100%;
    background-color: bisque;
    padding: 10px;
    display: flex;
}
.top-left{
    height: 100%;
    width: 60%;
    background-color: blue;
    padding: 10%;
}
.top-right{
    height: 100%;
    width: 40%;
    background-color: brown;
    
}

.Left-1{
    height: 50%;
    width: 100%;
    background-color: rgb(31, 16, 24);
    
}
.right-1{
    height: 50%;
    width: 100%;
    background-color: rgb(17, 222, 44);
    
}
.middle-sec{
    height: 25%;
    width: 100%;
    background-color:rgb(35, 171, 123);
    padding: 10px;
    display: flex;
   
}
.mid-left{
    height: 100%;
    width: 30%;
    background-color: brown;

}
.mid-right{
    height: 100%;
    width: 70%;
    background-color: rgb(55, 255, 0);
    margin-left: 10px;

}
.bottom-sec{
    height: 25%;
    width: 100%;
    background-color:rgb(147, 132, 113);
    padding: 10px;
   display: flex;
}
.bottom-left{
    height: 100%;
    width: 33.33%;
    background-color:rgb(211, 28, 12);
}
.bottom-mid{
    height: 100%;
    width: 33.33%;
    background-color:rgb(211, 28, 12);
    margin-left: 10px;
}
.bottom-right{
    height: 100%;
    width: 33.33%;
    background-color:rgb(211, 28, 12);
    margin-left: 10px;
}
.side{
    width: 20%;
    height: 100%;
    background-color: chartreuse;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    
}


